@page "/imageanalysis"

@using BlazorApp.Data
@inject ImageInfoService ImageInfoService
@inject IJSRuntime JS

<h1>Image Analysis</h1>

<p>Here you can manage and look at the data.</p>

@{ var virtualize = true; }

@if (imageInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Dominant colors</th>
                <th>Categories</th>
                <th>Caption</th>
                <th>Tags</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@imageInfo" Context="imageData" TItem="ImageInfo" ItemSize="182.85f" OverscanCount="8">
                <ImageDataRow @key="imageData.Id" imageInfo="imageData" ConfirmDelete="ConfirmDelete" />
            </Virtualize>
        </tbody>
    </table>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirm delete</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="bookToDeleteField" @bind=@DeleteId />
                    Are you sure you want to delete book <span id="bookTitleField"></span>?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick="DeleteImageInfo">Delete</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="imageModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
}

@code {
    private ICollection<ImageInfo>? imageInfo;

    private int DeleteId;

    protected override async Task OnInitializedAsync()
    {
        imageInfo = (ICollection<ImageInfo>)((await ImageInfoService.GetImageInfo()).ToList());
    }

    protected void ConfirmDelete(int id, string title)
    {
        DeleteId = id;

        JS.InvokeAsync<bool>("confirmDelete", title);
    }

    protected async Task DeleteImageInfo()
    {
        await JS.InvokeAsync<bool>("hideDeleteDialog");

        ImageInfoService.DeleteImageInfo(DeleteId);
        await OnInitializedAsync();
    }
}
