@page "/Login"

<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <EditForm Model="@LoginModel" OnValidSubmit="@HandleValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label class="col-form-label">Username</label>
                    <InputText id="username" class="input-group-text" DisplayName="Username" @bind-Value="LoginModel.Username" />
                </div>
                <div class="form-group">
                    <label class="col-form-label">Password</label>
                    <InputText id="password" type="password" class="input-group-text" DisplayName="Password" @bind-Value="LoginModel.Password" />
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </EditForm>
        </section>
    </div>
</div>
