@using System.Security.Claims
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthUrlPagesProvider AuthUrlProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Welcome @name</span>
                </Authorized>
            </AuthorizeView>
            <a href="https://github.com/freddycoder/EmailImagesObserver" target="_blank">About</a>
        </div>

        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>

@code {
    public ClaimsPrincipal? ClaimsPrincipal { get; set; }

    string? name { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        ClaimsPrincipal = authState.User;

        name = ClaimsPrincipal.Claims.FirstOrDefault(c => c.Type == "name")?.Value;
    }
}